.header {
  background-color: #142cac;
  height: 7rem;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  & nav {
    width: 100%;
    max-width: 155rem;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // border: 2px red dotted;

    & > .logo {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3.75rem;
      cursor: pointer;
      // border: 2px orange solid;
    }
  }
}
.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 2px black dotted;

  & li a {
    color: #fff;
  }
  & > * {
    margin-left: 1rem;
    color: #fff;
  }
}
@media screen and (max-width: 610px) {
  .header {
    height: 10rem;
  }
}
