.userform {
  display: flex;
  min-height: 50vh;
  // border: 2px solid orangered;
  flex-wrap: wrap;
  gap: 2em;
  .userform_card {
    display: flex;
    width: 100%;
    max-width: 18vw;
    padding: 1rem;
    flex: auto 160px;
    // border: 1px solid orange;
  }

  p {
    font-size: 2rem;
  }
}
.MuiFormLabel-root {
  font-size: 2rem !important;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .userform {
    flex-wrap: wrap;
    .userform_card {
      flex-wrap: wrap;
    }
  }
}
