.userform {
  display: flex;
  min-height: 58vh;
  // border: 2px solid orangered;
  flex-wrap: wrap;
  .userform_card {
    display: flex;
    width: 100%;
    max-width: 18vw;
    padding: 1rem;
    // border: 1px solid #030b6b;
    margin-right: 1.5em;
    // border: 1px solid orange;
  }
  p {
    font-size: 2rem;
  }
}
.MuiFormLabel-root {
  font-size: 2rem !important;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .userform {
    flex-wrap: wrap;
    // border: 2px solid green;
    .userform_card {
      flex-wrap: wrap;
      // border: 2px solid red;
    }
  }
}
